<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kwler.legacy.api.metrics.mapper.FactFanMapper">

    <select id="findFansByDateAndArtistId" resultMap="mapFindFansByDateAndArtistId">
        SELECT
          count(*) OVER() AS count,
          *
        FROM fact_fans
        WHERE artist_id = (SELECT id FROM dim_artist WHERE artist_id = #{artist} LIMIT 1)
            AND date_id = #{date}
        LIMIT #{page.pageSize}
        OFFSET #{page.offset}
    </select>

    <resultMap id="mapFindFansByDateAndArtistId" type="PartialResult">
        <result property="count" column="count" />
        <collection property="contents" resultMap="mapFactFan" />
    </resultMap>

    <resultMap id="mapFactFan" type="FactFan">
        <id property="id" column="id"/>
        <result property="dateId" column="date_id"/>
        <result property="channelId" column="channel_id"/>
        <result property="artistId" column="artist_id"/>
        <result property="countryId" column="country_id"/>
        <result property="fanCount" column="fan_count"/>
        <result property="fanGrowthLast1D" column="fan_growth_last_1D"/>
        <result property="fanGrowthLast7D" column="fan_growth_last_7D"/>
        <result property="fanGrowthLast30D" column="fan_growth_last_30D"/>
    </resultMap>

</mapper>