<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kwler.legacy.api.metrics.mapper.FactFansMapper">

    <select id="findFansByDateAndArtistId" resultMap="mapFindFansByDateAndArtistId">
        SELECT
          count(*) OVER() AS count,
          id,
          fan_count
        FROM fact_fans
        WHERE artist_id = (SELECT id FROM dim_artist WHERE artist_id = #{artist} LIMIT 1)
            AND date_id = #{date}
        LIMIT #{page.pageSize}
        OFFSET #{page.offset}
    </select>
    <resultMap id="mapFindFansByDateAndArtistId" type="PartialResult">
        <result property="count" column="count" />
        <collection property="contents" resultMap="mapFactFans" />
    </resultMap>
    <resultMap id="mapFactFans" type="FactFans">
        <id property="id" column="id"/>
        <result property="fanCount" column="fan_count"/>
    </resultMap>

</mapper>