<div class="login_wrapper">
  <div class="animate form login_form">
    <section class="login_content">
      <form #loginForm="ngForm" novalidate>
        <h1>KWL Admin Login</h1>

        <div [ngClass]="{ 'has-error': email.touched && !email.valid }">
          <input type="text"
                 name="email"
                 class="form-control input-lg"
                 placeholder="Email Address"
                 [(ngModel)]="user.email"
                 #email="ngModel"
                 email
                 required
          />
          <div class="help-block" *ngIf="email.touched && !email.valid">
            <p *ngIf="email.errors.required">This field is required</p>
            <p *ngIf="email.errors.email">This needs to be a valid email</p>
          </div>
        </div>

        <div [ngClass]="{ 'has-error': password.touched && !password.valid }">
          <input type="password"
                 name="password"
                 class="form-control input-lg"
                 placeholder="Password"
                 [(ngModel)]="user.password"
                 #password="ngModel"
                 required
                 minlength="8"
          />
          <div class="help-block" *ngIf="password.errors && password.touched">
            <p *ngIf="password.errors.required">This field is required</p>
            <p *ngIf="password.errors.minlength">Password must be minimum of 8 characters</p>
          </div>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox"
                   name="rememberMe"
                   [(ngModel)]="user.rememberMe"/>Remember Me
          </label>
        </div>

        <div>
          <button type="submit"
                  class="btn btn-success btn-block btn-lg"
                  [disabled]="!loginForm.valid">
            <i class="fa fa-sign-in"></i> Log in
          </button>
          <a routerLink="/auth/password-recovery">Having trouble logging in?</a>
        </div>

        <app-footer></app-footer>

      </form>
    </section>
  </div>
</div>
